# --- Spring-Boot Application Variables ---
DB_URL=jdbc:mysql://mysql:3309/cartline_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=insert_your_generated_secret_here

# --- Docker Compose Variables ---
MYSQL_DB=cartline_db
MYSQL_USER=root
MYSQL_PASS=root
MYSQL_ROOT_PASS=root

# --- Redis Variables ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- SMTP / Email Variables (Brevo) ---
MAIL_SENDER=cartline.official@gmail.com
MAIL_USERNAME=your_smtp_login_email
MAIL_PASSWORD=your_smtp_api_key_or_password